@model ContactBook.Contact

@{
    ViewBag.Title = "View";
}

<h2>View</h2>

<div>
    

    @if (ViewBag.QRCodeImage != null)
    {
        <img src="@ViewBag.QRCodeImage" alt="" style="height:300px" ;width:300px />
    }
</div>

@Html.Partial("_ContactDetails")